@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
	.sidebar-icon {
		@apply relative flex items-center justify-center
		h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
		bg-white text-green-500
		hover:bg-green-600 hover:text-white
		dark:bg-neutral-800 dark:text-green-500
		dark:hover:bg-green-600 dark:hover:text-neutral-800
		rounded-3xl hover:rounded-xl
		transition-all duration-200 ease-linear
		cursor-pointer;
	}

	.scrollbar::-webkit-scrollbar {
		@apply w-2;
	}

	.scrollbar::-webkit-scrollbar-track {
		@apply rounded-lg
		bg-neutral-800
		dark:bg-neutral-700;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		@apply rounded-lg
		bg-neutral-700
		dark:bg-neutral-600;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		@apply bg-neutral-600 
		dark:bg-neutral-500;
	}

	.scrollbar-hide::-webkit-scrollbar {
		@apply hidden;
	}
}

/* :root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
} */
